/vendor/
node_modules/

.env
.env*.php
.env.php

Homestead.yaml
Homestead.json

.vagrant/

.phpunit.result.cache
.php_cs.cache

/storage/logs/*.log

/storage/*.key

bootstrap/cache/*.php

storage/framework/sessions/*

storage/framework/views/*

storage/framework/cache/data/*

public/assets/adminlte
public/assets/adminLTE

public/storage

docker-compose.override.yml

npm-debug.log
yarn-error.log

.env.local
.env.production
.env.testing
.env.development

.DS_Store
Thumbs.db

.idea/
.vscode/
*.sublime-workspace
